# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build artifacts
build/
dist/
*.spec.bak

# Operator-side runtime files (created on first run next to qinsim.exe)
qinsim.yaml
scenarios/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
